<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row mb-5">
            <div class="col d-flex justify-content-lg-end">
              <button type="button" class="btn btn-success w-55" routerLinkActive="active" [routerLink]="['/asistencias']"><i class="fa-solid fa-list-check mr-2"></i>Ver Asistencias</button>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuarios</h3>
        </div>
       <div class="d-lg-flex justify-content-between">
         <div>
           <form class="form-inline ml-4 mb-3">
             <div class="form-group mb-0 shadow border rounded" [ngClass]="{ 'focused': focus === true }">
               <div class="input-group input-group-alternative">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fas fa-search"></i></span>
                 </div>
                 <input class="form-control" placeholder="Buscar" type="text" [(ngModel)]="terminoBusqueda">
               </div>
             </div>
           </form>
         </div>
         <div>
           <div class="mr-lg-4 ml-4 mb-3 d-flex align-items-center">
            <div><i class="fa-solid fa-filter"></i></div>
            <div class="ml-3">
              <select class="form-select text-muted" aria-label="Default select example" [(ngModel)]="filtroEstado">
                <option value="todos">Todos</option>
                <option *ngFor="let rol of roles" [value]="rol.nombre">{{ rol.nombre }}</option>

              </select>
            </div>
            <div class="text-center ml-3">
              <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['/crear-users']"><i class="fa-solid fa-plus mr-2"></i>Añadir</button>
            </div>
           </div>
         </div>
       </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Nombres y Apellidos</th>             
                <th scope="col">Rol</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="!cargandoDatos">
              <ng-container *ngFor="let usuario of obtenerUsuariosPaginaActual(); let i = index">
                <tr>
                  <td>{{ i + 1 + (paginaActual * usuariosPorPagina) }}</td>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm"> {{ usuario.email }}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{ usuario.persona.nombre }} {{ usuario.persona.apellido }}
                  </td>
                  <td>
                    {{ usuario.rol.nombre }}
                  </td>
                  <td>
                    <span class="badge badge-dot {{ usuario.estadoClase }}">
                      <i class=" {{ usuario.estadoIcono }}"></i> {{ usuario.estadoTexto }}
                    </span>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item d-flex align-items-center" routerLinkActive="active" [routerLink]="['/edit-user-users', usuario.id]"><i class="fa-regular fa-pen-to-square icon-option"></i> Editar</a>
                        <a (click)="eliminarUsuario(usuario.id)"  class="dropdown-item d-flex align-items-center text-danger"><i class="fa-solid fa-trash-can icon-option"></i> Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="sinResultados">
                <td colspan="6">
                  <div class="alert text-center" role="alert">
                    No se encontraron resultados
                  </div>
                </td>
              </tr>
              <tr *ngIf="sinUsuariosConEstado && !cargandoDatos">
                <td colspan="6">
                  <div class="alert text-center" role="alert">
                    No hay usuarios con el rol seleccionado
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="cargandoDatos" class="text-center mt-5">
            <div class="lds-ripple"><div></div><div></div></div>            
            <div class="alert mt-2">Cargando datos...</div>
          </div>  
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" (click)="irPaginaAnterior()" [class.disabled]="paginaActual === 0">
                <a class="page-link" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let pagina of paginasTotales" [class.active]="pagina === paginaActual">
                <a class="page-link" (click)="irAPagina(pagina)">{{ pagina + 1 }}</a>
              </li>
              <li class="page-item" (click)="irPaginaSiguiente()" [class.disabled]="paginaActual === calcularTotalPaginas() - 1">
                <a class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
</div>
