<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <!-- Table -->
  <div class="row mb-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Vuelos Realizados</h3>
        </div>
       <div class="d-lg-flex justify-content-between">
         <div>
           <form class="form-inline ml-4 mb-3">
             <div class="form-group mb-0 shadow border rounded" [ngClass]="{ 'focused': focus === true }">
               <div class="input-group input-group-alternative">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fas fa-search"></i></span>
                 </div>
                 <input class="form-control" placeholder="Buscar" type="text" (focus)="focus = true"
                 (blur)="focus = false">
               </div>
             </div>
           </form>
         </div>
       </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Persona</th>
                <th scope="col">Fecha de Vuelo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Enlace del Video</th>
                <th scope="col">Términos y Condiciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Cristian Antony Lara Arcos</span>
                    </div>
                  </div>
                </th>
                <td>
                  06/10/2023
                </td>
                <td>
                  992456987
                </td>
                <td>
                  <a type="button" class="btn btn-primary" (click)="openModal()"><i class="fa-solid fa-upload mr-2"></i>Subir</a>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-download"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Cristian Antony Lara Arcos</span>
                    </div>
                  </div>
                </th>
                <td>
                  06/10/2023
                </td>
                <td>
                  992456987
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="openModal()"><i class="fa-solid fa-upload mr-2"></i>Subir</button>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-download"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Cristian Antony Lara Arcos</span>
                    </div>
                  </div>
                </th>
                <td>
                  06/10/2023
                </td>
                <td>
                  992456987
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="openModal()"><i class="fa-solid fa-upload mr-2"></i>Subir</button>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-download"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->

  <div class="perfil-container">
    <div *ngIf="modalOpen" class="modal-overlay">
      <div class="bg-secondary modal-content col-sm-8 col-xl-3 col-md-5 m-3" (click)="stopPropagation($event)">
        <div class="p-sm-4 p-2">
          <div class="">
            <h2 class="mb-4 font-weight-700">Subir Video</h2>
            <div class="">
              <div class="form-group">
                <label class="form-control-label d-flex justify-content-start" for="input-password">Enlace de Video</label>
                <input type="password" id="input-password" class="border form-control form-control-alternative" placeholder="Ingrese el enlace del video">
              </div>
            </div>
            <div>
              <a (click)="closeModal()" class="btn btn-secondary mt-3 mr-0 m-2">Cancelar</a>
              <a (click)="closeModal()" class="btn btn-primary mt-3 m-2">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>