.btn-primary {
    color: #fff;
    background-color: #00afcc;
    border-color: #00afcc;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00afcc;
    border-color: #00afcc;
}

.shadow-lg {
    box-shadow: 0 0 3rem rgb(0 0 0 / 22%) !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.no-select {
    user-select: none;
}

.logo2{
    width: 60px;
    height: 43px;
}
  
.logo-m{
    width: 265px;
}

.mt-n1 {
    margin-top: -0.70rem !important;
}