<div style="display: flex; justify-content: center; align-items: center; height: 100vh;" class="bg-primary">
  <div class="card bg-secondary shadow border-0 col-xl-3 col-md-5 col-sm-7 m-4">
      <div class="card-body p-lg-5">
        <div class="text-center text-muted mb-4 mt-4 mt-lg-0">
          <small class="d-flex justify-content-center">
            <div class="d-flex justify-content-center no-select logo-m">
              <div class="">
                <img src="../../../assets/img/fly-universal/logo-icon.png" class="navbar-brand-img logo2" alt="logo">
              </div>
               <div class="">
                 <div class="d-block text-center mt-1">
                    <div class="h2 font-weight-bold">FLY UNIVERSAL</div>
                    <p class="mt-n1 h6">P A R A T R I K E</p>
                 </div>
               </div>
             </div>
          </small>
        </div>
        <div class="text-center text-muted mb-4 mt-4 mt-lg-0">
          <h2>Recuperar Contraseña</h2>
          <small>
            Ingrese su dirección de correo electrónico para recibir un enlace para restablecer su contraseña.
          </small>
        </div>
        <form role="form">
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative border">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input class="form-control" placeholder="Correo Electrónico" type="email">
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary mt-4 mb-lg-2 mb-4" routerLinkActive="active" [routerLink]="['/dashboard']">Enviar</button>
          </div>
        </form>
      </div>
    </div>
</div>
