<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">Tipos de Vuelo</h3>
      </div>
     <div class="d-lg-flex justify-content-between">
       <div>
         <form class="form-inline ml-4 mb-3">
           <div class="form-group mb-0 shadow border rounded" [ngClass]="{ 'focused': focus === true }">
             <div class="input-group input-group-alternative">
               <div class="input-group-prepend">
                 <span class="input-group-text"><i class="fas fa-search"></i></span>
               </div>
               <input name="buscarvu" class="form-control" placeholder="Buscar" type="text" [(ngModel)]="terminoBusqueda">
             </div>
           </div>
         </form>
       </div>
       <div>
         <div class="mr-lg-4 ml-4 mb-3 d-flex align-items-center">
          <div><i class="fa-solid fa-filter"></i></div>
          <div class="ml-3">
            <select class="form-select text-muted" aria-label="Default select example" [(ngModel)]="filtroEstado" >
              <option value="todos">Todos</option>
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
          </div>
          <!-- <div class="mx-3">
            <select class="form-select filas text-muted border" aria-label="Default select example" (change)="cambiarFilas($event)">
              <option value="2">2</option>
              <option value="5" selected>5</option>
              <option value="8">8</option>
            </select>
          </div> -->
          <div class="text-center ml-3">
            <button type="button" name="ativuelo" class="btn btn-primary"routerLinkActive="active" [routerLink]="['/crear-t-vuelo']"><i class="fa-solid fa-plus mr-2"></i>Añadir</button>
          </div> 
         </div>
       </div>
     </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush" >
          <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="!cargandoDatos">
          <ng-container *ngFor="let vuelo of obtenerVuelosPaginaActual(); let i = index">
            <tr>
              <td>{{ i + 1 + (paginaActual * vuelosPorPagina) }}</td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ vuelo.tipo }}</span>
                  </div>
                </div>
              </th>
              <td>{{ vuelo.precio.toLocaleString('es-PE', { style: 'currency', currency: 'PEN', minimumFractionDigits: 2 }) }}</td>
              <td>{{ vuelo.tiempo }} minutos</td>
              <td>
                <span class="badge badge-dot {{ vuelo.estadoClase }}">
                  <i class=" {{ vuelo.estadoIcono }}"></i> {{ vuelo.estadoTexto }}
                </span>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <button name="edivu" class="dropdown-item d-flex align-items-center" [routerLink]="['/edit-t-vuelo', vuelo.id]">
                      <i class="fa-regular fa-pen-to-square icon-option"></i> Editar
                    </button>
                    <button name="elivu" (click)="eliminarVuelos(vuelo.id)" class="dropdown-item d-flex align-items-center text-danger">
                      <i class="fa-solid fa-trash-can icon-option"></i> Eliminar
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="sinResultados">
            <td colspan="6">
              <div class="alert text-center" role="alert">
                No se encontraron resultados
              </div>
            </td>
          </tr>
          <tr *ngIf="sinVuelosConEstado && !cargandoDatos">
            <td colspan="6">
              <div class="alert text-center" role="alert">
                No hay vuelos con el estado seleccionado
              </div>
            </td>
          </tr>
        </tbody>     
        </table>
        <div *ngIf="cargandoDatos" class="text-center mt-5">
          <div class="lds-ripple"><div></div><div></div></div>            
          <div class="alert mt-2">Cargando datos...</div>
        </div>  
      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <li class="page-item" (click)="irPaginaAnterior()" [class.disabled]="paginaActual === 0">
              <a class="page-link" tabindex="-1">
                <i class="fas fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let pagina of paginasTotales" [class.active]="pagina === paginaActual">
              <a class="page-link" (click)="irAPagina(pagina)">{{ pagina + 1 }}</a>
            </li>
            <li class="page-item" (click)="irPaginaSiguiente()" [class.disabled]="paginaActual === calcularTotalPaginas() - 1">
              <a class="page-link">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>