<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Añadir Usuario</h3>
        </div>
       <div class="bg-secondary">
        <div class="p-4">
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="form-group">
                <label class="form-control-label d-flex justify-content-start" for="input-text">Trabajador</label>
                <select class="form-select border text-muted" aria-label="Default select example">
                  <option selected>Selecionar trabajador</option>
                  <option value="1">Cristian Lara</option>
                  <option value="2">Juan Carlos</option>
                  <option value="3">Alarcón Llanos</option>
                </select>
              </div>
            </div>
            
            <div class="col-xl-3 col-lg-6">
              <div class="form-group">
                <label class="form-control-label d-flex justify-content-start" for="input-text">Rol</label>
                <select class="form-select border text-muted" aria-label="Default select example">
                  <option selected>Selecionar rol</option>
                  <option value="1">Agente</option>
                  <option value="2">Administrador</option>
                  <option value="2">Super Administrador</option>
                </select>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="form-group">
                <label class="form-control-label d-flex justify-content-start" for="input-text">Estado</label>
                <select class="form-select border text-muted" aria-label="Default select example">
                  <option selected>Selecionar estado</option>
                  <option value="1">Activo</option>
                  <option value="2">Inactivo</option>
                </select>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="form-group text-start">
                <label class="form-control-label d-flex justify-content-start" for="input-email">Correo Electrónico</label>
                <input type="email" id="input-email" class="form-control form-control-alternative border" placeholder="Ingrese el correo" value="">
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="form-group text-start mos-c">
                <label class="form-control-label d-flex justify-content-start" for="input-password">Contraseña</label>
                <input [type]="passwordType" id="input-password" class="form-control form-control-alternative border" placeholder="Ingrese la contraseña" value="">
              </div>
              <div class="mt-2 custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input border" id="customCheckLogin" type="checkbox" (change)="togglePasswordVisibility()">
                <label class="custom-control-label" for="customCheckLogin">
                  <span class="text-muted">Mostrar contraseña</span>
                </label>
              </div>
            </div>
          </div>
          <div class="">
            <div class="d-flex justify-content-end mt-4">
              <a class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/users']">Cancelar</a>
              <a class="btn btn-primary mt-3 m-2">Añadir</a>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->