<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Añadir Usuario</h3>
        </div>
        <div class="bg-secondary">
          <div class="p-4">
            <form (ngSubmit)="crearUsuario()">
              <div class="row">
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label d-flex justify-content-start" for="input-trabajador">Trabajador</label>
                    <select id="input-trabajador" class="form-select border text-muted" name="trabajador" [(ngModel)]="nuevoRegistrar.persona" (ngModelChange)="verificarCamposLlenos()">
                      <option value="" selected disabled>Seleccionar</option>
                      <option *ngFor="let persona of personas" [value]="persona.id">{{ persona.nombre }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label d-flex justify-content-start" for="input-rol">Rol</label>
                    <select id="input-rol" class="form-select border text-muted" name="rol"  [(ngModel)]="nuevoRegistrar.rol" (ngModelChange)="verificarCamposLlenos()">
                      <option value="" selected disabled>Seleccionar</option>
                      <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group text-start">
                    <label class="form-control-label d-flex justify-content-start" for="input-email">Correo Electrónico</label>
                    <input name="email" type="email" id="input-email" class="form-control form-control-alternative border" placeholder="Ingrese el correo" [(ngModel)]="nuevoRegistrar.email" (ngModelChange)="verificarCamposLlenos()">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group text-start mos-c">
                    <label class="form-control-label d-flex justify-content-start" for="input-password">Contraseña</label>
                    <input name="contra" [type]="passwordType" id="input-password" class="form-control form-control-alternative border" placeholder="Ingrese la contraseña" [(ngModel)]="nuevoRegistrar.password" (ngModelChange)="verificarCamposLlenos()">
                  </div>
                  <div class="mt-2 custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input border" id="customCheckLogin" type="checkbox" (change)="togglePasswordVisibility()">
                    <label class="custom-control-label" for="customCheckLogin">
                      <span class="text-muted">Mostrar contraseña</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="d-flex justify-content-end mt-4">
                  <button type="button" class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/users']">Cancelar</button>
                  <button  name="añauser" class="btn btn-primary mt-3 m-2" type="submit" [disabled]="!camposLlenos">Añadir</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
</div>
<!-- Dark table -->
