


  <div class="header bg-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--9">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Añadir Usuario</h3>
          </div>
          <div class="bg-secondary">
            <div class="p-4">
              <div class="row">
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group">
                    <div class="form-group text-start">
                      <label class="form-control-label d-flex justify-content-start" for="input-number">Trabajador</label>
                      <input type="number" id="input-number" class="form-control form-control-alternative border" placeholder="Ingrese el correo" name="persona" [(ngModel)]="nuevoRegistrar.persona" (input)="verificarCamposLlenos()">
                    </div>
                  </div>
                </div>
  
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group text-start">
                    <label class="form-control-label d-flex justify-content-start" for="input-number">Rol</label>
                    <input type="number" id="input-number"class="form-control form-control-alternative border" placeholder="Ingrese el correo" name="rol" [(ngModel)]="nuevoRegistrar.rol" (input)="verificarCamposLlenos()">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group text-start">
                    <label class="form-control-label d-flex justify-content-start" for="input-email">Correo Electrónico</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative border" placeholder="Ingrese el correo" name="email" [(ngModel)]="nuevoRegistrar.email" (input)="verificarCamposLlenos()">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <div class="form-group text-start mos-c">
                    <div class="form-group text-start">
                      <label class="form-control-label d-flex justify-content-start" for="input-password">Contraseña</label>
                      <input type="password" id="input-password" class="form-control form-control-alternative border" placeholder="Ingrese el correo" name="password" [(ngModel)]="nuevoRegistrar.password" (input)="verificarCamposLlenos()">
                    </div>
                  </div>
                </div>
              </div>
                <div class="">
                  <div class="d-flex justify-content-end mt-4">
                    <button type="button" class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/users']">Cancelar</button>
                    <button class="btn btn-primary mt-3 m-2" [disabled]="!camposLlenos" (click)="crearUsuario()">Añadir</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table -->
  </div>
  
    <!-- Dark table -->