<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total de trabajadores</h5>
                  <span class="h2 font-weight-bold mb-0">5</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fa-solid fa-user-check"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Trabajadores</h3>
        </div>
       <div class="d-lg-flex justify-content-between">
         <div>
           <form class="form-inline ml-4 mb-3">
             <div class="form-group mb-0 shadow border rounded" [ngClass]="{ 'focused': focus === true }">
               <div class="input-group input-group-alternative">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fas fa-search"></i></span>
                 </div>
                 <input name="buscartra" class="form-control" placeholder="Buscar" type="text" [(ngModel)]="terminoBusqueda">
               </div>
             </div>
           </form>
         </div>
         <div>
           <div class="mr-lg-4 ml-4 mb-3 d-flex align-items-center">
            <div><i class="fa-solid fa-filter"></i></div>
            <div class="ml-3">
              <select class="form-select text-muted" aria-label="Default select example" [(ngModel)]="filtroEstado" >
                <option value="todos">Todos</option>
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
              </select>
               <!-- <div class="mx-3">
            <select class="form-select filas text-muted border" aria-label="Default select example" (change)="cambiarFilas($event)">
              <option value="2">2</option>
              <option value="5" selected>5</option>
              <option value="8">8</option>
            </select>
          </div> -->
            </div>
            <div class="text-center ml-3">
              <button type="button" class="btn btn-primary" name="atraba" routerLinkActive="active" [routerLink]="['/crear-workpeople']"><i class="fa-solid fa-plus mr-2"></i>Añadir</button>
            </div>
           </div>
         </div>
       </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">DNI</th>
                <th scope="col">Nombres y Apellidos</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="!cargandoDatos">
              <ng-container *ngFor="let persona of obtenerPersonasPaginaActual(); let i = index">
                <tr>
                  <td>{{ i + 1 + (paginaActual * personasPorPagina) }}</td>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{ persona.documento_identidad}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{ persona.nombre }} {{ persona.apellido }}
                  </td>
                  <td>
                    {{ persona.telefono }}
                  </td>
                  <td>
                    {{ persona.email }}
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <label class="switch">
                       <input type="checkbox" [checked]="persona.trabajador" disabled>
                       <span class="slider round"></span>
                      </label>       
                    </div>           
                  </td>
                  <td>
                    <span class="badge badge-dot {{ persona.estadoClase }}">
                      <i class=" {{ persona.estadoIcono }}"></i> {{ persona.estadoTexto }}
                    </span>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <button name="editra" class="dropdown-item d-flex align-items-center" routerLinkActive="active" [routerLink]="['/edit-workpeople', persona.id]"><i class="fa-regular fa-pen-to-square icon-option"></i> Editar</button>
                        <button name="elitra" (click)="eliminarTrabajador(persona.id)" class="dropdown-item d-flex align-items-center text-danger" ><i class="fa-solid fa-trash-can icon-option"></i> Eliminar</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="sinResultados">
                <td colspan="6">
                  <div class="alert text-center" role="alert">
                    No se encontraron resultados
                  </div>
                </td>
              </tr>
              <tr *ngIf="sinPersonasConEstado && !cargandoDatos">
                <td colspan="6">
                  <div class="alert text-center" role="alert">
                    No hay trabajadores con el estado seleccionado
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="cargandoDatos" class="text-center mt-5">
            <div class="lds-ripple"><div></div><div></div></div>            
            <div class="alert mt-2">Cargando datos...</div>
          </div>  
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" (click)="irPaginaAnterior()" [class.disabled]="paginaActual === 0">
                <a class="page-link" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let pagina of paginasTotales" [class.active]="pagina === paginaActual">
                <a class="page-link" (click)="irAPagina(pagina)">{{ pagina + 1 }}</a>
              </li>
              <li class="page-item" (click)="irPaginaSiguiente()" [class.disabled]="paginaActual === calcularTotalPaginas() - 1">
                <a class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Dark table -->
</div>
