<div class="header bg-primary pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4 mt-8">
          <div _ngcontent-c9="" class="row"><div _ngcontent-c9="" class="col">
            <div class="text-center mb-n4">
              <h3>
                Asistencias
              </h3>
            </div>
            <div _ngcontent-c9="" class="card-profile-stats d-flex justify-content-center ">
              <div _ngcontent-c9=""><span _ngcontent-c9="" class="heading">12</span><span _ngcontent-c9="" class="description">Puntuales</span></div>
              <div _ngcontent-c9=""><span _ngcontent-c9="" class="heading">2</span><span _ngcontent-c9="" class="description">Tardanzas</span></div>
              <div _ngcontent-c9=""><span _ngcontent-c9="" class="heading">3</span><span _ngcontent-c9="" class="description">Faltas</span></div>
            </div>
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary mt-3 m-2"  (click)="openModal()">Ver asistencias</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Trabajador</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Información Personal</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Nombres</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" placeholder="Jessica Nares" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Apellidos</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" placeholder="Jones Balvin" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Dirección</label>
                    <input id="input-address" class="form-control form-control-alternative"  type="text"  placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">DNI</label>
                    <input type="number" id="input-city" class="form-control form-control-alternative" value="78965412" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Teléfono</label>
                    <input type="number" id="input-country" class="form-control form-control-alternative" value="987456324" disabled>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="d-flex justify-content-end">
                <a class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/workpeople']">Volver</a>
                <a class="btn btn-primary mt-3 m-2" routerLinkActive="active" [routerLink]="['/edit-workpeople']">Editar</a>
              </div>
            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="perfil-container">
  <div *ngIf="modalOpen" class="modal-overlay">
    <div class="bg-secondary modal-content col-sm-8 col-xl-3 col-md-5 m-3" (click)="stopPropagation($event)">
      <div class="p-sm-4 p-2">
        <div class="">
          <h2 class="mb-4 font-weight-700">Asistencias</h2>
          <div class="table-container">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Marcaciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-success p-2 rounded bg-success">
                          <span class="font-weight-700 text-white">Puntual</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-danger p-2 rounded bg-danger">
                          <span class="font-weight-700 text-white">Tarde</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-yellow p-2 rounded bg-yellow">
                          <span class="font-weight-700 text-white">Falta</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-yellow p-2 rounded bg-yellow">
                          <span class="font-weight-700 text-white">Falta</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-yellow p-2 rounded bg-yellow">
                          <span class="font-weight-700 text-white">Falta</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-yellow p-2 rounded bg-yellow">
                          <span class="font-weight-700 text-white">Falta</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-yellow p-2 rounded bg-yellow">
                          <span class="font-weight-700 text-white">Falta</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      20/22/2024
                    </th>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="col-7 border border-yellow p-2 rounded bg-yellow">
                          <span class="font-weight-700 text-white">Falta</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <a (click)="closeModal()" class="btn btn-secondary mt-3 mr-0 m-2">Cerrar</a>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>