.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik02LjU2NC43NWwtMy41OSAzLjYxMi0xLjUzOC0xLjU1TDAgNC4yNiAyLjk3NCA3LjI1IDggMi4xOTN6Ii8+PC9zdmc+);
}

.btn-primary {
    color: #fff;
    background-color: #00afcc;
    border-color: #00afcc;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00afcc;
    border-color: #00afcc;
}

.img-profile{
    width: 200px;
    height: 180px;
    object-fit: cover;
}


/* Estilo para el contenedor del botón de carga de archivo */
.file-upload-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo */
  }
  
  /* Estilo para el botón de carga de archivo */
  .file-upload-button {
    border: 2px solid #00afcc;
    color: #00afcc;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Efecto hover para el contenedor del botón de carga de archivo */
  .file-upload-container:hover .file-upload-button {
    background-color: #00afcc;
    color: #fff;
    transition: all 0.3s; /* Agrega una transición suave a todos los cambios */
  }
  
  /* Estilo para ocultar el input de tipo archivo */
  .file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
  }
  
  /* Estilo opcional para mostrar el nombre del archivo seleccionado */
  .file-name {
    margin-left: 10px;
  }
  

  /* perfil.component.css */
.perfil-container {
    text-align: center;
    margin-top: 20px;
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .mt--10{
    margin-top: -27rem !important;
}
  

  /* perfil.component.css */
  .perfil-container {
    text-align: center;
    margin-top: 20px;
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 742px;
  }
  
  .table-container {
    max-height: 556px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
  }

  .fs-2{
    font-size: 16px;
}


.border-yellow {
    border: solid 1px #ffd600 !important;
}