<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(https://flyuniversal.pe/cdn/shop/collections/1_4_1.jpg?v=1676600553); background-size: cover; background-position: center top;">
  <span class="mask bg-primary opacity-7"></span>
</div>
<div class="container-fluid mt--10">
  <div class="row" *ngIf="persona" >
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img class="avatar avatar-sm rounded-circle foto-perfil"  [src]="persona.foto_url" alt="foto">
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4 mt-8">
          <div class="text-center mb-5">
            <h3>
             {{ persona.nombre.split(' ')[0] }} {{ persona.apellido.split(' ')[0] }}       
            </h3>
            <div class="h5 font-weight-400">
              <i class="ni location_pin"></i>{{ userDetails.rol.nombre }}
            </div>
          </div>
          <div class="my-5 d-flex justify-content-center">
            <a class="btn btn-sm btn-primary" (click)="openModal()">Cambiar contraseña</a>
          </div>
          <div _ngcontent-c9="" class="row"><div _ngcontent-c9="" class="col">
            <div class="text-center mb-n4">
              <h3>
                Asistencias
              </h3>
            </div>
            <div _ngcontent-c9="" class="card-profile-stats d-flex justify-content-center ">
              <div _ngcontent-c9=""><span _ngcontent-c9="" class="heading">12</span><span _ngcontent-c9="" class="description">Puntuales</span></div>
              <div _ngcontent-c9=""><span _ngcontent-c9="" class="heading">2</span><span _ngcontent-c9="" class="description">Tardanzas</span></div>
              <div _ngcontent-c9=""><span _ngcontent-c9="" class="heading">3</span><span _ngcontent-c9="" class="description">Faltas</span></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi cuenta</h3>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Nombres</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" [value]="persona.nombre" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Apellidos</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" [value]="persona.apellido" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Correo Electrónico</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" [value]="persona.email" disabled>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Dirección</label>
                    <input id="input-text" class="form-control form-control-alternative" type="text" [value]="persona.direccion" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">DNI</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" [value]="persona.documento_identidad" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Teléfono</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" [value]="persona.telefono" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Rol</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative" [value]="userDetails.rol.nombre" disabled>
                  </div>
                </div>
              </div>
              <div class="mb-2 mt-3 d-flex justify-content-end">
                <a routerLinkActive="active" class="btn btn-primary" [routerLink]="['/edit-user-profile', persona.id]">Editar perfil</a>
              </div>
            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="perfil-container">
  <div *ngIf="modalOpen" class="modal-overlay">
    <div class="bg-secondary modal-content col-sm-8 col-xl-3 col-md-5 m-3" (click)="stopPropagation($event)">
      <div class="p-sm-4 p-2">
        <div class="">
          <h2 class="mb-4 font-weight-700">Cambiar Contraseña</h2>
          <div class="">
            <div class="form-group">
              <label class="form-control-label d-flex justify-content-start" for="input-password">Contraseña actual</label>
              <input type="password" id="input-password" class="border form-control form-control-alternative" placeholder="Ingrese su contraseña actual">
            </div>
          </div>
          <div class="">
            <div class="form-group text-start">
              <label class="form-control-label d-flex justify-content-start" for="input-password">Nueva contraseña</label>
              <input type="password" id="input-password" class="border form-control form-control-alternative" placeholder="Ingrese su nueva contraseña">
            </div>
          </div>
          <div>
            <a (click)="closeModal()" class="btn btn-secondary mt-3 mr-0 m-2">Cancelar</a>
            <a (click)="closeModal()" class="btn btn-primary mt-3 m-2">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
