<div class="header bg-primary pb-8 pt-5 pt-md-7 d-flex align-items-center" >
  <!-- Mask -->
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-12 order-lg-2">
            <!-- <div class="card-profile-image">
              <img [src]="imagePath" class="rounded-circle img-profile">
            </div>
            <div class="mt-9 mb-3 d-flex justify-content-center">
              <div class="file-upload-container">
                <label class="file-upload-button" for="fileInput"><i class="fa-solid fa-cloud-arrow-up mr-2"></i>Subir </label>
                <input id="fileInput" class="file-input" name="file" type="file" (change)="handleFileInput($event.target.files)" />
              </div>
            </div> -->
            <div class="m-3 my-4 mb-5">
             <div class="text-center">
  
               <h1 class="precio">S/ 1500</h1>
               <h4 class="mt-n2 text-bold">Precio Total</h4>
             </div>
              <div class="mt-5">
                <!-- <div class="col-auto">
                  <div class="form-group row">
                    <div class="col-md-5 d-flex align-items-center">
                      <label class="form-control-label" for="input-text">Código</label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" id="input-text" class="form-control form-control-alternative border" value="XPF541" disabled>
                    </div>
                  </div>
                </div> -->
                <div class="col-auto">
                  <div class="form-group row">
                    <div class="col-md-5 d-flex align-items-center">
                      <label class="form-control-label" for="input-number">Pago Incial</label>
                    </div>
                    <div class="col-md-7">
                      <input type="number" id="input-number" class="form-control form-control-alternative border"  >
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-group row">
                    <div class="col-md-5 d-flex align-items-center">
                      <label class="form-control-label" for="input-number">Pago Faltante</label>
                    </div>
                    <div class="col-md-7">
                      <input type="number" id="input-number" class="form-control form-control-alternative border"  >
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-group row">
                    <div class="col-md-5 d-flex align-items-center">
                      <label class="form-control-label d-flex justify-content-start" for="input-text">Código Promocional</label>
                    </div>
                    <div class="col-md-7">
                      <select class="form-select text-muted border" aria-label="Default select example" [(ngModel)]="promocion">
                        <option selected>Selecionar</option>
                        <option *ngFor="let Descuento of descuento" [value]="Descuento.id">{{ Descuento.codigo }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="form-group row">
                    <div class="col-md-5 d-flex align-items-center">
                      <label class="form-control-label d-flex justify-content-start" for="input-text">Tipo de Pago</label>
                    </div>
                    <div class="col-md-7">
                      <select class="form-select text-muted border" aria-label="Default select example" [(ngModel)]="tipos_pago">
                        <option selected>Seleccionar</option>
                        <option *ngFor="let tipoPago of tiposPago" [value]="tipoPago.id">{{ tipoPago.nombre }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-auto">
                  <div class="form-group row">
                    <div class="col-md-5 d-flex align-items-center">
                      <label class="form-control-label d-flex justify-content-start" for="input-text">¿Donde nos conocieron?</label>
                    </div>
                      <div class="col-md-7">
                      <select class="form-select text-muted border" aria-label="Default select example">
                        <option selected>Selecionar</option>
                        <option value="1">Facebook</option>
                        <option value="2">Instagram</option>
                      </select>
                    </div> 
                  </div>
                </div>-->
                <div class="m-3 mt-5">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <label class="form-control-label" for="input-text">Evidencia de Pago</label>
                    </div>
                    <div class="boton btn btn-primary" (click)="agregarInput()">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                  <div class="mt-3 file-upload-container">
                    <div *ngFor="let inputFile of inputFiles; let i = index" class="mt-2 file-upload-item">
                      <div class="file-upload-input-wrapper" style="height: 41px;width: 100%;">
                        <label class="custom-file-upload">
                          <i class="fas fa-file-upload"></i> {{ truncarNombreArchivo(fileNames[i]) || 'Subir Archivo' }}
                          <input type="file" class="file-upload-input" (change)="onFileSelected($event, i)">
                        </label>
                      </div>
                      <span class="file-name">{{ inputFile?.name }}</span>
                      <div class="file-actions">
                        <!-- <button *ngIf="inputFile" class="ml-1 boton btn btn-success" (click)="descargarArchivo(inputFile)">
                          <i class="fas fa-download"></i>
                        </button> -->
                        <button class="boton btn btn-danger ml-4" (click)="eliminarInput(i)">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-3">
                  <div class="d-flex justify-content-center ">
                    <a class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/reservation']">Cancelar</a>
                    <a class="btn btn-primary mt-3 m-2" >Reservar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-2">
      <div class="card bg-secondary shadow">
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0 d-flex justify-content-between">
                <div>
                  <h3 class="mb-0">Personas</h3>
                </div>
                <div class="text-center ml-3">
                  <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['/crear-persona']"><i class="fa-solid fa-plus mr-2"></i>Añadir</button>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush" >
                  <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Fecha de Vuelo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                  <!-- Iterar sobre los vuelos -->
                  <ng-container *ngFor="let reserva of reservas; let i = index">
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>{{ reserva.persona.nombre }}</td>
                      <td>{{ reserva.persona.apellido }}</td>
                      <td>{{ reserva.persona.telefono }}</td>
                      <td>{{ reserva.fecha_reserva}}</td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item d-flex align-items-center" [routerLink]="['/edit-t-vuelo', reserva.id]">
                              <i class="fa-regular fa-pen-to-square icon-option"></i> Editar
                            </a>
                            <a (click)="eliminarVuelos(reserva.id)" class="dropdown-item d-flex align-items-center text-danger">
                              <i class="fa-solid fa-trash-can icon-option"></i> Eliminar
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>