<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <div class="text-center text-muted">
        <small class="d-flex">
          <div class="d-flex justify-content-center no-select logo-m">
            <div class="">
              <img src="../../../assets/img/fly-universal/logo-icon.png" class="navbar-brand-img logo2" alt="logo">
            </div>
             <div class="">
               <div class="d-block text-center mt-1">
                  <div class="h3 font-weight-bold">FLY UNIVERSAL</div>
                  <p class="mt-n1 h7">P A R A T R I K E</p>
               </div>
             </div>
           </div>
        </small>
      </div>
    </a>
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <div class="position-relative">
            <i class="ni ni-bell-55 fs-5"></i>
            <div class="bg-danger rounded-circle position-absolute heartbeat" style="top: -5px; right: -5px; width: 10px; height: 10px;"></div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right notification" ngbDropdownMenu>
          <div class="mx-4 my-2 title-noti">
            <h3>Notificaciones</h3>
          </div>
          <a href="#" class="efecto-ho">
            <div class="row px-3 py-2 m-auto no-select efecto-ho">
              <div class="col-10">
                <p class="h5">Se reservo un nuevo vuelo 
                  (Cód: Fly-004)</p>
                <p class="text-primary h5 mt-n2">20/12/2023<span> - </span> <span>10:00 AM</span></p> 
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="bg-primary2 notificaciones rounded-circle"></div>
              </div>
            </div>
          </a>
          <a href="#" class="efecto-ho">
            <div class="row px-3 py-2 m-auto no-select efecto-ho">
              <div class="col-10">
                <p class="h5">Se reservo un nuevo vuelo
                  express (Cód: Exp-002)</p>
                <p class="text-primary h5 mt-n2">20/12/2023<span> - </span> <span>10:00 AM</span></p> 
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="bg-primary2 notificaciones rounded-circle"></div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <img class="avatar avatar-sm rounded-circle" [src]="userDetails.foto_url" alt="foto">
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">¡Bienvenido!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Mi Perfil</span>
          </a>
          <a href="#!" class="dropdown-item"  routerLinkActive="active" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Cerrar Sesión</span>
          </a>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-8 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <div class="text-center text-muted">
                <small class="d-flex">
                  <div class="d-flex justify-content-center no-select logo-m">
                    <div class="">
                      <img src="../../../assets/img/fly-universal/logo-icon.png" class="navbar-brand-img logo2" alt="logo">
                    </div>
                     <div class="">
                       <div class="d-block text-center mt-1">
                          <div class="h3 font-weight-bold">FLY UNIVERSAL</div>
                          <p class="mt-n1 h7">P A R A T R I K E</p>
                       </div>
                     </div>
                   </div>
                </small>
              </div>
            </a>
          </div>
          <div class="col-4 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link font-weight-400">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>


