<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-lg-7">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Editar Canal</h3>
        </div>
       <div class="bg-secondary">
        <div class="p-4">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label d-flex justify-content-start" for="input-text">Nombre</label>
                <input type="text" id="input-text" class="form-control form-control-alternative border"  name="nombre" [(ngModel)]="canalEditado.nombre" (ngModelChange)="verificarCambios()">
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label d-flex justify-content-start" for="input-text">Estado</label>
                <select class="form-select text-muted border" aria-label="Default select example"  name="estado" [(ngModel)]="canalEditado.estado" (ngModelChange)="verificarCambios()">
                  <option [ngValue]="true">Activo</option>
                  <option [ngValue]="false">Inactivo</option>
                </select>
              </div>
            </div>
            
          </div>
          <div class="">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/config']">Cancelar</button>
              <button type="button" class="btn btn-primary mt-3 m-2"  [disabled]="!edicionActiva" (click)="editarCanal()">Editar</button>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>