<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-12 order-lg-2">
            <div class="card-profile-image">
              <img [src]="imagePath" class="rounded-circle img-profile">
            </div>
            <div class="mt-9 mb-3 d-flex justify-content-center">
              <div class="file-upload-container">
                <label class="file-upload-button" for="fileInput"><i class="fa-solid fa-cloud-arrow-up mr-2"></i>Subir foto</label>
                <input id="fileInput" class="file-input" name="file" type="file" (change)="handleFileInput($event.target.files)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Añadir Trabajador</h3>
            </div>
          </div>
        </div>
        <div class="p-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Nombres</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative border" placeholder="Ingrese sus nombres"  [(ngModel)]="nuevaPersona.nombre" (input)="verificarCamposLlenos()" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Apellidos</label>
                    <input type="text" id="input-text" class="form-control form-control-alternative border"  placeholder="Ingrese sus apellidos" [(ngModel)]="nuevaPersona.apellido" (input)="verificarCamposLlenos()" >
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Correo Electrónico</label>
                    <input id="input-email" class="form-control form-control-alternative border"  type="email"  placeholder="Ingrese su dirección" [(ngModel)]="nuevaPersona.email" (input)="verificarCamposLlenos()">
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="input-text">Dirección</label>
                    <input id="input-text" class="form-control form-control-alternative border"  type="text"  placeholder="Ingrese su dirección" [(ngModel)]="nuevaPersona.direccion" (input)="verificarCamposLlenos()">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">DNI</label>
                    <input type="number" id="input-city" class="form-control form-control-alternative border"  placeholder="Ingrese su DNI" [(ngModel)]="nuevaPersona.documento_identidad" (input)="verificarCamposLlenos()">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Teléfono</label>
                    <input type="number" id="input-country" class="form-control form-control-alternative border"  placeholder="Ingrese su teléfono" [(ngModel)]="nuevaPersona.telefono" (input)="verificarCamposLlenos()">
                  </div>
                </div>
              </div>
              <div class="">
                <div class="d-flex justify-content-end">
                  <button class="btn btn-secondary mt-3 mr-0 m-2" routerLinkActive="active" [routerLink]="['/workpeople']">Cancelar</button>
                  <button class="btn btn-primary mt-3 m-2" (click)="crearPersona()" [disabled]="!camposLlenos">Añadir</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
